<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить информацию о городе</title>
</head>
<body>
<form method="post" name="addCompany">

    <input type="text" placeholder="Название города (RU)" name="nameRu">

    <input type="text" placeholder="Название города (EN)" name="nameEn">

    <input type="text" placeholder="Информация о городе" name="info">
    <button status="submit" >Добавить</button>
</form>
<br>
<a href="/table">Список городов</a>
<br><br>

</body>
</html>