<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Guide</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <form style="margin-top: 20px" th:action="@{searchName}" method="get">
            <input type="text" name="name" placeholder="Город"/>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" type="submit">Найти по названию (RU)</button>
        </form>
        <form style="margin:  20px" th:action="@{searchId}" method="get">
            <input type="text" name="id" placeholder="City"/>&nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn btn-success">Найти по названию (EN)</button>
        </form>
    </div>
</div>
<br>
<form method="get">
    <table class="table table-bordered">
        <thead>
        <tr>

            <th>Город (RU)</th>
            <th>Город (EN)</th>
            <th>Информация</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${listCompany}">
            <td th:text="${city.nameRu}">Город (RU)</td>
            <td th:text="${city.nameEn}">Город (EN)</td>
            <td th:text="${city.cityInfo.getInfo()}">Информация</td>
            <td><a th:object="${city}" th:href="@{'/delete/' + ${city.getNameRu()}}">Удалить</a></td>
            <td><a th:object="${city}" th:href="@{'/update/' + ${city.getNameRu()}}">Изменить</a></td>
        </tr>
    </table>
    <br>
</form>
<br>
<a href="/table">Назад</a>
<br>
<a href="/addCity">Добавить информацию о городе</a>
</body>
</html>